@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-weight:400;
}

.container {
    margin: 90px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    max-width: 720px;
    padding: 30px 45px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 720px) {
    .container {
        margin: 45px 5px;
    }
}

@media screen and (max-width: 455px) {
    .container {
        margin: 0px;
        border-radius: 0px;
        box-shadow: none;  
    }
}















/* header {
    background-color: rgb(48, 99, 209);
    height: 52.5px;
    color: rgba(215, 215, 215, 0.929);
}

p {
    text-align: center;
    padding: 7px 0px;  
    font-weight: 700;
    font-size: 1.5rem;
} 

.second--container {
    border-radius: 7px;
    box-shadow:  0px 2px 6px rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.1);
    padding: 30px 50px;
    max-width: 700px;
}



.question {
    color: rgb(4, 73, 142);
    font-weight: bold;
    font-size: 20px;
}

.all-answer-options {
    display: flex;
    position: relative;
    margin-bottom: 20px;
    padding: 5px 0px 2px 0px;
    border-bottom: 2px solid black;
    flex-wrap: wrap;
}

.label-option {
    position: relative;
    display: flex;
    justify-content: center;
    min-width: 100px;
    cursor: pointer;
    border: 2px solid rgb(194, 190, 190);
    margin: 0px 15px 20px 0px;
    padding: 9px 11px;
    color: grey;
    border-radius: 12px;
    transition: 200ms;
}


.label-option:hover {
    border: 2px solid rgb(70, 70, 70);
}

.user-option {
    visibility: hidden;
    position:absolute;
}

*/