
.quizzes {
    border-radius: 10px;
    background-color: rgb(255, 250, 250);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

.quiz {
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0px 0px 12px 0px;
    width: 100%;
}

.question {
    color: rgb(4, 73, 142);
    font-weight: bold;
    font-size: 20px;
}

.answers {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    gap: 20px;
}

.answer--label {
    min-width: 100px;
    text-align: center;
    padding: 5px 7px;
    border-radius: 9px;
    color:rgba(0, 0, 0, 0.35);
    cursor: pointer;
    border: 2px solid rgba(0, 0, 0, 0.2);
    transition: all 250ms;
}

.answer--input {
    left: 50%;
    visibility: hidden;
    position:absolute;
}

.answer--label:hover, .correct--answer, .user--answer {
    background-color: lightgreen;
    border: 2px solid lightgreen;
    color: rgb(4, 73, 142);
    font-weight: bold;
}

.incorrect--answer {
    background-color: rgb(232, 131, 131);
    border: 2px solid rgb(232, 131, 131);
    color:rgba(0, 0, 0, 0.35);
    font-weight: normal;
}

.unattempted--question {
    background-color: #ccc;
    border: 2px solid #ccc;
}


.result-and-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: 'Roboto', sans-serif;
}

.result-and-submit p {
    color: rgb(4, 73, 142);
}

.play--again, .submit {
    background-color: rgb(4, 73, 142);
    color: white;
    height: 35px;
    width: 135px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: all 300ms;
}

.play--again:hover, .submit:hover {
    box-shadow: 0 0px 10px rgb(4, 73, 142);
}

